@import url('https://fonts.googleapis.com/css?family=Barlow|Lemonada&display=swap');

body {
  font-family: 'Lemonada', cursive;
  background-color: #345967;
  margin: 10px;
}
header {
  color: #3F9EBE;
  width: 100%;
  display: flex;
  justify-content: center;
}


h1 {
  display: block;
}

h3{
  justify-content: center;
  width: 75%;
}
img {
width: 75%%;
height: 75%;
max-height:50px
}

p{
  margin-left: 5px;
  max-width: 100px;
  font-family: 'Barlow', sans-serif;
}

audio{
  width: 100%;
}

.tune-grid{

  color: #345967;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;

}

.tune{
  background-color: #F2F3EF ;
  display: flex;
  border-color: #3F9EBE;
  flex-direction: column;
  margin: 10px;

  border-style: solid;
  min-width: 200px;
  width: 25%;
  max-width: 300px;
  justify-content: center;
  align-items: center;

}

.tune-info{
  display: flex;
}

.tune-details{
  padding: 5px;
}
